.reservation-section .reservation-content {
	width: 100%;
	max-width: 850px;
	padding: 2rem;
	margin: 0 auto;
}

.reservation-section .considerations-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}