.selector {
	position: relative;
	width: 100%;
	height: 3.375rem;
	background-color: var(--highlight-color-white);
	color: var(--primary-color-green);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
	border-radius: 8px;
	cursor: pointer;
}

.selector.selected-item {
	background-color: var(--primary-color-green);
	color: var(--white-color);
}

.selector .selector-icon {
	fill: var(--primary-color-green);
	display: flex;
	align-items: center;
	justify-content: center;
}

.selector .selector-icon.selected-item {
	display: none;
}

.selector .selector-title,
.selector .selector-option {
	font-weight: bold;
	font-size: var(--selector-font-size);
}

.selector .chevron-icon {
	width: 2rem;
	height: 2rem;
}

.selector .dropdown-list {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color: var(--highlight-color-white);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-top: 0.5rem;
    overflow: hidden;
}

.selector .dropdown-list .selector-option {
	color: var(--primary-color-green);
	padding: 2rem 0;
	width: 100%;
	height: 3.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px dotted black;
	cursor: pointer;
}

.selector .dropdown-list .selector-option:last-child {
	border-bottom: none;
}

.selector .dropdown-list .selector-option:hover,
.selector .dropdown-list .selector-option:active {
	background-color: var(--primary-color-green);
	color: var(--white-color);
}
