.reservation-form {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	gap: 2rem;
}

/* Desktop syles */
@media screen and (min-width: 768px) {
	.reservation-form {
		grid-template-columns: 1fr 1fr;
	}

	.reservation-form .two-cols {
		grid-column: 1 / 3;
	}

	.reservation-form button {
		max-width: 9.375rem;
	}
}
